<main class="main", style="background-color: black">
<div class="classes-container">
    <div class="class-description">
    <h1> Our Classes</h1>
    <p>We have designed specialised classes to meet your needs.</p>
</div>
{{#each classList}}
{{> classes-partial this}}
{{/each}}
</div>
</main>