<main>
  <div id="confirmation-container">
    <h1>Thank you!</h1>
    <p>You purchase was successful!</p>
    <p>{{this.orderId}}</p>
    <form action="/" method="GET">
      <button id="confirmation-button">Go Back</button>
    </form>
  </div>
</main>