<main>
  <div id="error-container">
    <h1 style="text-align: center; color: red">Error</h1>
    <p style="text-align: center; color: white">{{message}}</p>
    <button id="error-button">Go back</button>
  </div>

  <script type="text/javascript">
    document.getElementById("error-button").onclick = function () { 
        window.history.back()
    }
  </script>
</main>