<main>
  <div id="error-container">
    <h1>Error</h1>
    <p>{{message}}</p>
    {{#if this.isGoBackBtn}}
    <form action="/error" method="GET">
      <button id="error-button">Go Back</button>
    </form>
    {{else}}
    <form action="/classes" method="GET">
      <button id="error-button">View Classes</button>
    </form>
    {{/if}}
  </div>
</main>