<main>
  <div id="error-container">
    <h1>Error</h1>
    <p>{{message}}</p>
    <form action="/error" method="GET">
      <button id="error-button">Go back</button>
    </form>
  </div>

  {{!--
  <script type="text/javascript">
    document.getElementById("error-button").onclick = function () {
      window.history.back()
    }
  </script> --}}
</main>