<main>
  <div id="login-div", style="background-color:black">
    <h1 style="text-align: center; color: red">Error</h1>
    <p style="text-align: center; color: white">{{message}}</p>
    <button id="goBack" style="background-color: #f3722c;height: 4em;">Go back</button>
  </div>

  <script type="text/javascript">
    document.getElementById("goBack").onclick = function () { 
        console.log(window) };
  </script>
</main>