<main id="home-main">
    <div class="home-description">
        <h1>Let's Pump It Up!</h1>
        <p>Fit-Boxe Studio, where your dreams come true.</p>
        <a href="/classes">See Classes</a>
    </div>
</main>