<main>
    {{#if this.isLogin}}
    <div class="login-main">
        <form action="/login" method="POST">
            <p>LOGIN OR SIGNUP</p>
            <input type="text" name="userEmail" placeholder="Enter email address">
            <input type="password" name="password" placeholder="Enter password">
            <div class="form-btn">
                <button id="loginBtn" name="loginBtn" value="Login">LOGIN</button>
                <button id="createAccBtn" name="createAccBtn" value="Create Account">CREATE ACCOUNT</button>
            </div>
        </form>
    </div>
    {{else}}
    <div class="signup-main">
        <form action="/signup" method="POST">
            <div class="signup-content">
                <p>CREATE AN ACCOUNT</p>
                <input type="checkbox" name="signUpCheck">
                <label>signup to be a member ($75 per month)</label>
            </div>
            <div class="form-btn">
                <button id="memberBtn" name="memberBtn" value="Yes">YES</button>
                <button id="noMemberBtn" name="noMemberBtn" value="No">NO</button>
            </div>
        </form>
    </div>
    {{/if}}
</main>