/**************Global properties**********/
* {
    font-family: 'Oxygen', sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

/* header */
header,
footer {
    background-color: #f3722c;
    padding: 5px;
}

header {
    padding: 5px;
}

nav {
    /* border: 1px solid black; */
    overflow: hidden;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

header ul {
    /* border: 1px solid purple; */
    list-style: none;
    overflow: hidden;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

ul li {
    /* border: 1px solid black; */
    float: left;
    text-align: center;
    padding: 15px;
    padding-right: 25px;
    width: 10%;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
}

/* home page */
img {
    width: 100vw;
    height: 100vh;
}

.home-description {
    padding: 30px;
    position: absolute;
    top: 55%;
    margin-left: 48%;
    width: 40%;
    height: 150px;
    text-align: center;
    font-size: 15px;
    color: #Ffffff;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.home-description h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.home-description p {
    font-size: 22px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 30px;
}

.home-description a {
    display: block;
    width: 20%;
    background-color: #f3722c;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* footer */
footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}