/**************Global properties**********/
* {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100%;
  background-image: url("../images/fitness-studio-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* header */
header,
footer {
  background-color: #f3722c89;
  padding: 5px;
}

header {
  padding: 5px;
}

nav {
  overflow: hidden;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

header ul {
  list-style: none;
  overflow: hidden;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  border-radius: 30px;
  float: left;
  text-align: center;
  padding: 15px;
  margin: 5px;
  width: 10%;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "Merriweather Sans", sans-serif;
}

/* home page */
img {
  width: 100vw;
  height: 100vh;
}

.home-description {
  padding: 30px;
  position: absolute;
  top: 55%;
  margin-left: 48%;
  width: 40%;
  height: 150px;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.home-description h1 {
  font-size: 50px;
  margin-bottom: 0;
}

.home-description p {
  font-size: 22px;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 30px;
}

.home-description a {
  display: block;
  width: 20%;
  background-color: #f3722c;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* admin page */
#admin_table {
  border-collapse: collapse;
}

#admin_table th,
td {
  border: 1px solid black;
  text-align: center;
}

#admin_div {
  width: 70%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}

#admin_div h1 {
  text-align: center;
}

#filter_div {
  flex-direction: row;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
}

/* login page */
#login-div {
  width: 40%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 70%;
}

#login-div h1 {
  color: white;
}

#login-div form {
  display: grid;
}

#login-div>form>input,
button {
  height: 35px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 1);
}

#login-div button {
  background-color: #f3722c;
  color: white;
  padding-left: 0px;
}

#signUpCheck {
  margin-bottom: 20px;
}

#signUpCheck-container label {
  color: white;
}

/* classes */
main {
  padding: 35px;
  height: 100vh;
}

.classes-container {
  margin-bottom: 100px;
}

.item-desc-container {
  margin-left: 10px;
}

.remove-btn-container {
  margin-right: 10px;
}

.cart-item-divider {
  width: 100%;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.635);
}

.classes {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.classes img {
  width: 15vw;
  height: 20vh;
  padding: 25px;
}

.class-details {
  width: 50%;
  padding: 2px;
  height: 120px;
  margin-top: 30px;
  margin-left: 20px;
}

.classes h2 {
  margin-top: 2px;
}

.classes button,
#payBtn {
  display: block;
  width: 30%;
  background-color: #f3722c;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
}

.class-description {
  color: white;
  text-align: center;
}

/* footer */
footer {
  clear: both;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

/* error page */
#error-container,
#confirmation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(4, 4, 4);
  border: 5px double rgb(244, 241, 241);
  height: 50%;
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#error-container h1,
#confirmation-container h1 {
  text-align: center;
  color: red;
}

#error-container p,
#confirmation-container p {
  text-align: center;
  color: white;
}

#error-button,
#confirmation-button {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: #f3722c;
  height: 30px;
  border-radius: 15px;
  margin-top: 20px;
}

/* cart */
#cart-container {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.555);
  padding: 10px;
  overflow: auto;
  height: 100%;
  margin: auto;
}

#payBtn {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#cart-container form {
  height: 100%;
}

.cart {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.bold-p {
  font-weight: bold;
}

.cart-h2 {
  font-weight: bolder;
  color: #f3722c;
}

#cart-form-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cart-form-div>input {
  flex: 1;
  flex-basis: 0;
  font-size: medium;
  height: 35px;
}

.cart-p {
  color: white;
}

#star-div {
  flex-direction: row;
  display: flex;
  align-items: center;
}

#star-div img {
  height: 35px;
  width: 35px
}

.remove-btn {
  height: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  width: 150px;
  display: block;
}

.remove-btn:hover {
  background-color: red;
  color: white;
}