<div class="cart">
    <div class="cart-details">
        <p>{{{this.className}}} with {{{this.instructor}}}</p>
        <p>{{{this.classLength}}}</p>
        <a href="/classes/{{{this.classID}}}">REMOVE</a>
    </div>
</div>