<div class="cart">    
  <div class="item-desc-container">
    <p class="bold-p">{{items.className}} <span>WITH</span> {{{items.instructor}}}</p>
    <p>{{{items.classLength}}}</p>
  </div>
  <div class="remove-btn-container">
    <form method="post" action="/deleteCart/{{this.orderID}}">
    <button class="remove-btn" type="submit">REMOVE</button>
    </form>
  </div>
</div>
  <div class="cart-item-divider"></div>